* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #475F45;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 14px;
}

.logo__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #343D33;
}

.logo__subtitle {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #333333;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-top: 22px;
    margin-left: 141px;
}

.nav__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #475F45;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section {
    height: 100vh;
}

.title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
}

.hero__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    text-transform: capitalize;
    color: #414840;
    margin-bottom: 52px;
}

.btn {
    border: 2px solid #475F45;
    padding: 20px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.btn--active {
    background: #475F45;
    color: white;
}

.btn--white {
    border: 2px solid #FFFFFF;
    color: white;
    margin-right: 218px;
}

.hero__img {
    border: 4px solid #343D33;
    box-sizing: border-box;
    border-radius: 500px 500px 0px 0px;
}

.about {
    background-color: #343D33;
    display: flex;
    flex-direction: column-reverse;
}

.about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1080px;
}

.about__top-img {
    width: 534px;
}

.about__column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 80px;
}

.about__desc {
    display: flex;
    align-items: flex-end;
}

.about__info {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    width: 410px;
}

.about__top-img-wrap {
    display: flex;
}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
    color: white;
}

.news__subtitle {
    color: #343D33;
    margin-top: 96px;
}

.news__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 48px;
}

.news__img {
    width: 236px;
    height: 151px;
}

.news__img--big {
    width: 520px;
    height: 333px;
}

.news__item-title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 110%;
    color: #475F45;
    margin-top: 20px;
}

.news__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #414840;
    margin-top: 12px;
    margin-bottom: 12px;
}

.news__item-date {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #343D33;
}

.news__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 0px;
    border-bottom: #C4C4C4 1px solid;
    margin-bottom: 20px;
}

.news__item--big {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;
    border-bottom: 0;
}

.news__item-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;
}

.news__content {
    display: flex;
    justify-content: space-between;
}

.footer__top {
    background-color: #414840;
}

.footer__info {
    color: white;
    margin-top: 20px;
    padding-bottom: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__column {
    color: white;
}

.footer__logo-block {
    padding-top: 48px;
}

.footer__subtitle {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-align: center;
    text-transform: capitalize;
}

.footer__nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

.footer__nav-item {
    margin-bottom: 10px;
}

.footer__nav-list {
    margin-top: 20px;
    padding-bottom: 40px;
}

.social__list {
    margin-top: 20px;
    display: flex;
}

.social__item {
    margin-right: 32px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.social__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(/img/icon/twitter.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.fb {
    background-image: url(/img/icon/facebook.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.in {
    background-image: url(/img/icon/linkedin.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mail {
    background-image: url(/img/icon/mail.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__bottom {
    background: #343D33;
    padding-top: 29px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
}